/* GLOBAL STYLES */
body {
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
}


/* GRID STYLES */
.grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 10vw repeat(6, 1fr) 10vw;
}
.grid_1-9 {
    grid-column: 1 / 9;
}
.grid_2-8 {
    grid-column: 2 / 8;
}
.grid_1-2 {
    grid-column: 1 / 2;
}
.grid_3-7 {
    grid-column: 3 / 7;
}
.grid_4-6 {
    grid-column: 4 / 6;
}
.grid_1-8 {
    grid-column: 1 / 8;
}
.grid_2-4 {
    grid-column: 2 / 4;
}
.grid_2-6 {
    grid-column: 2 / 6;
}
.grid_4-8 {
    grid-column: 4 / 8;
}

/* CONTENT STYLES */
.content-container {
    flex: 1 1 auto;
    /* margin: 1em; */
}
.content-container ul {
    margin-left: 2em;
}

.main-page {
    color: white;   
}
.main-page a {
    color: salmon;
}
.main-page a:hover {
    color: red;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.3em;
    margin-top: 2em;
}
.info-box-ul {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.3em;
    margin-top: 0;
    font-size: 0.7em;
}

.main-story {
    background-image: url(../images/waves.jpg);
    background-size:auto;
    flex: 1 1 0;
    padding-bottom: 3em;
    padding-top: 1em;
}

/* HEADER STYLES */
.header {
    color: white;
    position: sticky;
    background-color: black;
    z-index: 20;
    top: 0;
    text-align: center;
    align-items: center;
    justify-items: center;
    min-height: 40px;
}

.header.grid {
    grid-template-columns: minmax(40px, 10vh) repeat(6, 1fr) minmax(40px, 10vh);
}

.logo-header, .logo-header > img {
    height: 10vh;
    width: 10vh;
    min-height: 40px;
    min-width: 40px;
    }

/* DROPDOWN MENU STYLES */
    .menu-button {
    height: 10vh;
    width: 10vh;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.highlight_text {
    color: lightsalmon;
}

/* NAV LINKS STYLES */
.nav-links {
    display: block;
    font-size: 1em;
}
.nav-links > li {
    display: inline-block; 
    list-style-type: none;
    font-weight: bold;
}
.nav-links li ~ li {
    border-left: 2px solid rgba(97, 97, 97, 0.7);
    padding-left: 1em;
    margin-left: 1em;
}
.nav-links > li > a:hover {
    color: lightsalmon;
}

/* FOOTER STYLES */

.footer {
    color: white;
    background-color: black;
    padding: 3vh 0;
    justify-items: center;
    row-gap: 5vh;
    text-align: center;
}
.footer .nav-links li ~ li {
    border-left: none;
}

.logo-footer, .logo-footer > img {
    height: 30vh;
    width: 30vh;
}

.footer p {
    font-size: 0.7em;
    color: lightslategrey;
}
.footer p a {
    color: lightsalmon;
    line-height: 1.5em;
}
.footer p a:hover {
    color: white;
}


/* TODO APP STYLES */
.content-container .todo-list {
    margin-left: 0;
}
.app_content {
    margin: 1em 0;
}

select[data-chosen='0'],
div[data-chosen='0'] {
    background-color: tomato;
}
select[data-chosen='1'],
div[data-chosen='1'] {
    background-color: orange;
}
select[data-chosen='2'],
div[data-chosen='2'] {
    background-color: yellow;
}

.prio-box {
    border: 1px solid black;
    width: 0.4em;
    height: 0.8em;
    align-self: center;
    margin-right: 0.25em;
}

.todo-list {
    line-height: 1.5em;
    list-style: none;
    margin-bottom: 5vh;
}

.todo-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-top: 1px solid rgba(97, 97, 97, 0.7); */
}

.todo-list > li > input {
    flex: 0 0 16px;
}
.todo-list > li > span {
    flex: 1 1 0;
}
.todo-list > li > form.normal-column {
    flex: 1 1 0;
}
.todo-list > li > div.normal-column {
    flex: 1 1 0;
}
.todo-list > li > div.medium-column {
    flex: 0 0 47px;
}
.todo-list > li > div.tiny-column, .tiny-column {
    flex: 0 0 16px;
}
.todo-list > li > span.medium-column {
    flex: 0 0 47px;
}
span.tiny-column {
    display: inline-block;
    width: 15px
}

.task-details-bottom > div > select,
.task-details-bottom > span > input {
    min-width: 7vw;    
}


.newtask {
    margin-left: 20px;
}

.checkbox {
    width: 16px;
    flex: 0 0 16px;
    align-self: center;
}
.task-name-edit, .task-name {
    flex: 1 1 0;
}
.mobile-name-edit, .tag-element, .arrows-element, .delete-element, .priority-element {
    flex: 1 1 0;
    text-align: center;
    align-content: center;
    align-self: center;
    display: inline-block;
}
.arrows-element > i {
    margin: 0 1vw;
}
.button {
    display: inline-block;
}
.task-details {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}
.task-details-up {
    flex: 1 1 0;
    display: flex;
}
.task-details-bottom {
    flex: 1 1 0;
    display: flex;
}



.taskItem {
    border-bottom: 1px solid rgba(97, 97, 97, 0.7);
}
.taskItem:hover {
    border-bottom: 2px solid rgba(97, 97, 97, 0.7);

}
.unfinished {
    background-color: lightcoral;
}
.finished {
    background-color: greenyellow;
}
.todo-legend {
    border-bottom: 1px solid rgba(97, 97, 97, 0.7);
    display: flex;
}

.legend-element {
    flex: 1 1 0;
}
.checkbox {
    flex: 0 0 20px;
}
.tag-marker {
    margin-left: 11px;
}

.todo-list .todo-legend {
    /* border-top: none; */
    color: grey;
}

.app_content {
    row-gap: 2vh;
}

.hide {
    display: none;
}

.clickable:hover {
    cursor: pointer;
}




/* RESPONSIVE DESIGN STYLES */
@media (max-width: 600px) {
    .footer .nav-links {
        font-size: 3.25vw;
    }        
    .footer .nav-links li ~ li {
        padding-left: 2vw;
        margin-left: 2vw;
    }

    .logo-footer, .logo-footer > img {
        height: 15vh;
        width: 15vh;
    }

    .menu-button {
        display: flex;
    }

    .nav-header {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100vw;
        /* background-color: slategrey; */
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 2em;
        line-height: 2em;
        display: none;
    }
    .nav-header > li {
        display: list-item;
        height: 60px;
        box-sizing: border-box;
        font-weight: normal;
    }
    .nav-header li ~ li {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }
    .nav-header li:first-child {
        font-weight: bold;
    }
    .mobile-menu-check:checked ~ nav .nav-header {
        display: block;
    }
    .mobile-menu-check:checked ~ label {
        color: lightsalmon;
    }
    
/* TODO APP MOBILE RESPONSIVE STYLES */
    .task-name {
        font-size: 1.3em;
    }
    .content-container .todo-list {
        line-height: normal;
    }
    .todo-list > li > input.checkbox {
        flex: 0 0 30px;
    }
    .taskItem {
        border-top: 1px solid rgba(97, 97, 97, 0.7);
    }
    
    .tag-marker {
        display: none;
    }

    .newtask {
        margin-top: 0.5em;
        margin-left: 50px;
        font-size: 0.75em;
    }

    .task-details {
        flex-direction: column;
    }

    .task-details-bottom {
        display: none;
    }
    .task-details > .task-details-bottom-show {
        display: flex
    }
    .task-details-bottom > span > input {
        height: 5vh;
        min-width: 15vw;
        margin: 1vh 0;
    }
    .task-details-bottom > div > select {
        height: 5vh;
        min-width: 15vw;
        margin: 1vh 0;
    }

    input[type='checkbox'] {
        -webkit-appearance:none;
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:2px solid #555;
        margin-right: 20px;
    }
    input[type='checkbox']:checked {
        background-color: darkcyan;
    }

    input[type='text'] {
        font-size: 1.5em;
        max-width: 70vw;
    }

    .button > input {
        font-size: 1em;
    }
    .button {
        /* height: 20px; */
    }
    .button > input {
        padding: 10px 15px;
    }


    @media (max-height: 400px) {
        .header .nav-links {
            top: 40px;
        }

        .logo-header img {
            height: 40px;
            width: 40px;
        }
        .menu-button {
            height: 40px;
            width: 40px;
        }
    }
}
