<footer class="footer grid">
    <!-- Adds website logo -->
    <a href="{{site.baseurl}}/index.html" class="logo-footer grid_2-8">
        <img src="{{site.baseurl}}/images/logo.png" alt="Website logo">
    </a>

    <!-- Adds navigation links -->
    <nav class="grid_1-9">
        <ul class="nav-links">
            {% include nav-links.html %}
        </ul>
    </nav>

    <!-- Adds Footer adnotations -->
    <p class="grid_2-8">
        This page was created by <a href="https://github.com/rafalkesik" target="_blank">Rafał Kęsik</a>.
        <br>
        The goal of this page is to train and demonstrate my HTML, CSS & JS skills learned from <a href="https://www.learnenough.com" target="_blank">an extensive set of courses</a> by Michael Hartl.
    </p>

</footer>