<footer class="footer grid">
    <a href="index.html" class="logo logo-footer grid_2-8">
        <img src="images/logo.png" alt="Website logo">
    </a>

    <nav class="grid_2-8">
        <ul class="nav-links">
            <li><a href="index.html">Main Page</a></li>
            <li><a href="/">To-do App</a></li>
            <li><a href="/">Github-er</a></li>
            <li><a href="/">Calculator</a></li>
        </ul>
    </nav>


    <p class="grid_2-8">
        This page was created by <a href="https://github.com/rafalkesik" target="_blank">Rafał Kęsik</a>.
        <br>
        The goal of this page is to train and demonstrate my HTML, CSS & JS skills learned from <a href="https://www.learnenough.com" target="_blank">an extensive set of courses</a> by Michael Hartl.
    </p>

</footer>