<header class="header grid">
    
    <!-- <div class="logo logo-header">
        <a href="index.html">
            <img src="images/logo.png" alt="Website logo">
        </a>
    </div> -->

    <a href="index.html" class="logo logo-header">
        <img src="images/logo.png" alt="Website logo">
    </a>


    <nav class="grid_2-8">
        <ul class="nav-links">
            <li><a href="index.html">Main Page</a></li>
            <li><a href="/">To-do App</a></li>
            <li><a href="/">Github-er</a></li>
            <li><a href="/">Calculator</a></li>
        </ul>
    </nav>

</header>